	body 
	{
		font-family: Dancing Script;
		background-color:#000;
	}
	
	*
	{
		margin:0px;
		padding:0px;
		box-sizing:border-box;
	}
	
	.contenido 
	{
		margin-left:auto;
		margin-right:auto;
		padding: 0;
		width: 900px;
		/*FLEX*/
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;				
	}

	header
	{
		width:100%;
		background-color: #5b7989;
		border-radius: 10px 10px 0px 0px;
		-moz-border-radius:10px 10px 0px 0px;
		-webkit-border-radius:10px 10px 0px 0px;
		padding-left:10px;
		padding-right:10px;		
		/*FLEX*/
		display:flex;
		justify-content:space-between;
		align-items:center;
		flex-direction: row;
		flex-wrap:wrap;
	}
	
	header #elHeader h1
	{
		color: white;
		text-align: left;
		text-shadow: 2px 2px #02010a;
		line-height:50%;
	}
	
	header nav
	{
		text-align: right;
		color:white;
	}
	header nav a
	{
		text-decoration:none;
		color:white;
	}
	
	#imgPrin
	{
		background:#82c3a6;
	}
	
	#imgSec
	{
		background:#d5c75f;
		border:1px;
	}
	
	
	/*AGREGO EL MEDIA QUERY PARA EL DESKTOP*/
	@media ( max-width:900px)
	{
		
				.contenido 
		{
			margin-left:auto;
			margin-right:auto;
			padding: 0;
			width: 100%;
		}
		
		header>h1
		{
			color: white;
			text-align: center;
			text-shadow: 2px 2px #02010a;
		}
			
		header > p
		{
			text-align: center;
			color:white;
		}
	}
	
	/*AGREGO EL MEDIA QUERY PARA CUANDO NO SEA DESKTOP*/
	@media (min-width: 900px)
	{
		.contenido 
		{
			margin-left:auto;
			margin-right:auto;
			padding: 0;
			width: 900px;
		}
	}