header
{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
}

h1
{
	color: white;
	text-align: left;
	text-shadow: 2px 2px #02010a;
	float: left;
	/*-webkit-text-shadow:2px 2px #02010a;
	-moz-text-shadow: 2px 2px #02010a;*/
}

#menuprincipal
{
	text-align: right;
	color:white;
	float: right;
}

#menuprincipal>a
{
	text-decoration: none;
}